{% load static %}
<div class="ReactModalPortal">
  <div class="finances-modal-overlay">
    <div
      class="finances-modal-content"
      tabindex="-1"
      role="dialog"
      aria-modal="true"
    >
      <button type="button">
        <img
          src="{% static 'assets/images/close.svg'%}"
          alt="Fechar modal"
          class="finances-modal-close"
        />
      </button>
      <form class="finances-modal-form">
        <h2>Cadastrar Transação</h2>
        <input placeholder="Título" value="" /><input
          type="number"
          placeholder="Valor"
          value="0"
        />
        <div class="transaction-type-container">
          <button type="button" class="radio-box">
            <img
              src="{% static 'assets/images/income.svg'%}"
              alt="Entrada"
            /><span>Entrada</span></button
          ><button type="button" class="radio-box">
            <img
              src="{% static 'assets/images/outcome.svg'%}"
              alt="Saída"
            /><span>Saída</span>
          </button>
        </div>
        <input placeholder="Categoria" value="" /><button type="submit">
          Cadastrar
        </button>
      </form>
    </div>
  </div>
</div>
