{% extends "base.html" %} {% block page_content %} {% load static %}

<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root">
  <header class="finances-header">
    <div>
      <img src="{% static 'assets/images/logo.svg' %}" alt="dt money" />
      <button
        data-bs-toggle="modal"
        data-bs-target="#financesModal"
        type="submit"
      >
        Nova transação
      </button>
    </div>
  </header>
  <main class="finances-main">
    <div class="finances-summary">
      <div>
        <header>
          <p>Entradas</p>
          <img src="{% static 'assets/images/income.svg' %}" alt="Entradas" />
        </header>
        <strong>R$&nbsp;6.000,00</strong>
      </div>
      <div>
        <header>
          <p>Saídas</p>
          <img src="{% static 'assets/images/outcome.svg' %}" alt="Saídas" />
        </header>
        <strong>-R$&nbsp;900,00</strong>
      </div>
      <div class="highlight-background">
        <header>
          <p>Total</p>
          <img src="{% static 'assets/images/total.svg' %}" alt="Total" />
        </header>
        <strong>R$&nbsp;5.100,00</strong>
      </div>
    </div>
    <div class="finances-table">
      <table>
        <thead>
          <tr>
            <th>Título</th>
            <th>Valor</th>
            <th>Categoria</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Freelancer de website</td>
            <td class="deposit">R$&nbsp;6.000,00</td>
            <td>dev</td>
            <td>12/02/2021</td>
          </tr>
          <tr>
            <td>Aluguel</td>
            <td class="withdraw">R$&nbsp;900,00</td>
            <td>Casa</td>
            <td>14/02/2021</td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>
{% include 'finances-modal.html' %} {% endblock %}
