{% load static %}
<div class="modal" id="financesModal">
  <div class="modal-dialog finances-modal-overlay">
    <div class="modal-content finances-modal-content">
      <button type="button" data-bs-dismiss="modal" aria-label="Close">
        <img
          src="{% static 'assets/images/close.svg'%}"
          alt="Fechar modal"
          class="finances-modal-close"
        />
      </button>
      <form class="finances-modal-form">
        <h2>Cadastrar Transação</h2>
        <input placeholder="Título" value="" /><input
          type="number"
          placeholder="Valor"
          value="0"
        />
        <div class="transaction-type-container">
          <button type="button" class="radio-box">
            <img
              src="{% static 'assets/images/income.svg'%}"
              alt="Entrada"
            /><span>Entrada</span></button
          ><button type="button" class="radio-box">
            <img
              src="{% static 'assets/images/outcome.svg'%}"
              alt="Saída"
            /><span>Saída</span>
          </button>
        </div>
        <input placeholder="Categoria" value="" /><button type="submit">
          Cadastrar
        </button>
      </form>
    </div>
  </div>
</div>
